@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");

/* :root{
  
} */

html {
  min-height: 100vh;
  position: relative;
  font-family: "Quicksand", sans-serif;
  color: #fff;
}

body {
  margin: 0;
  background-image: linear-gradient(
      580deg,
      rgba(34, 66, 127, 0.72) 0%,
      rgba(34, 66, 127, 0.72) 33.333%,
      rgba(23, 41, 98, 0.38) 33.333%,
      rgba(23, 41, 98, 0.38) 66.666%,
      rgba(0, 23, 70, 0.71) 66.666%,
      rgba(0, 23, 70, 0.71) 99.999%
    ),
    linear-gradient(
      316deg,
      rgba(45, 73, 158, 0.25) 0%,
      rgba(45, 73, 158, 0.25) 33.333%,
      rgba(2, 25, 76, 0.38) 33.333%,
      rgba(2, 25, 76, 0.38) 66.666%,
      rgba(30, 61, 127, 0.53) 66.666%,
      rgba(30, 61, 127, 0.53) 99.999%
    ),
    linear-gradient(
      475deg,
      rgba(10, 0, 66, 0.36) 0%,
      rgba(10, 0, 66, 0.36) 33.333%,
      rgba(222, 222, 222, 0.06) 33.333%,
      rgba(222, 222, 222, 0.06) 66.666%,
      rgba(14, 108, 214, 0.18) 66.666%,
      rgba(14, 108, 214, 0.18) 99.999%
    ),
    linear-gradient(340deg, rgb(28, 20, 63), rgb(34, 78, 127));
  background-attachment: fixed;
}

a,
a:visited,
a:link {
  color: white;
  font-weight: 800;
}

img.logo {
  margin: 0 25px 0 25px;
  height: 4em;
}

img#karesz {
  image-rendering: pixelated;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(8, 28, 75);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(22, 38, 87);
}

::-webkit-scrollbar-track {
  background-color: rgb(34, 66, 127);
}

/*HEADER*/
header.header {
  margin: 0;
  margin-bottom: 20px;
  width: 100%;
  height: 70px;
  font-size: 20px;
  box-shadow: 0 10px 1rem 0 rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(34, 66, 127, 0.72);

  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(5px);
}

header.header span.title {
  width: max-content;
  font-weight: 800;
  font-size: 30px;
}

header.header div.menu {
  width: fit-content;
  padding: 0 4rem 0 4rem;
  display: flex;
  justify-content: flex-end;
  border-left: 5px solid rgba(34, 66, 127, 0.72);
}

header.header a.button,
header.header a.button:link,
header.header a.button:visited {
  cursor: pointer;
  display: block;
  color: #fff;
  text-decoration: none;
  width: max-content;
  text-align: center;
  transition: 200ms;
  position: relative;
  padding: 20px;
}

header.header a.button:hover {
  text-shadow: -1px 0 rgba(255, 255, 255, 0.5), 0 1px rgba(255, 255, 255, 0.5),
    1px 0 rgba(255, 255, 255, 0.5), 0 -1px rgba(255, 255, 255, 0.5);
}

header.header a.button::after {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(
    242deg,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.418)
  );
  width: calc(100% - 40px);
  transform-origin: left;
  transform: scaleX(0);
  height: 3px;
  transition: 300ms;
}

header.header a.button:hover::after {
  transform: scaleX(1);
}

/* CONTENT */
div.content-wrapper {
  width: 100%;
  min-height: 700px;
  padding-bottom: 140px;
  padding-top: 30px;
  max-width: 2560px;
  margin: auto;
}

div.content-wrapper p {
  margin: auto;
  padding: 0 2rem 0 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

div.content-wrapper div.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  flex-wrap: wrap;
}

div.content-wrapper div.card {
  border: 3px solid;
  border-image: repeating-linear-gradient(
      223deg,
      rgb(28, 34, 80) 0px,
      rgb(28, 34, 80) 28px,
      rgb(32, 72, 128) 28px,
      rgb(32, 72, 128) 74px,
      rgba(33, 9, 15, 0) 74px,
      rgba(33, 9, 15, 0) 206px
    )
    1;
  background-color: rgba(0, 0, 0, 0.432);
  max-width: 22rem;
  min-width: 22rem;
  max-height: 30rem;
  min-height: 30rem;
  /* transform: perspective(100em); */
  position: relative;
  margin: 40px;
}

div.content-wrapper div.card h1.card-title {
  text-align: center;
  font-size: 1.4em;
  font-weight: 800;
  margin-bottom: 10px;
}

div.content-wrapper div.card img.card-thumbnail {
  display: block;
  margin: auto;
  height: 12em;
  margin-top: 0.5em;
  padding: 1em;
}

div.content-wrapper div.card img.card-icon {
  display: block;
  position: absolute;
  left: 10px;
  top: 13px;
  height: 2em;
}

div.content-wrapper div.card p.card-description {
  display: block;
  max-height: 140px;
  font-size: 16px;
  padding: 0;
  text-align: left;
  margin: 0 1em 0 1em;
  overflow-wrap: break-word;
  overflow-y: hidden;
}

div.content-wrapper div.card div.link-row{
  margin-top: 1.5em;
  margin-left: 1em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

div.content-wrapper div.card div.link-row a.button {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.075);
  border: 1px solid rgba(255, 255, 255, 0.185);
  border-radius: 5px;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  padding: 7px 15px;
  cursor: pointer;
}

div.content-wrapper div.card div.link-row a.button:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(0, 140, 255, 0.37);
}

/* FOOTER */
footer.footer {
  border-top: 5px solid rgba(34, 66, 127, 0.72);
  box-shadow: 0 -1px 1rem 0 black;
  padding: 20px 0 20px 0;
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  backdrop-filter: brightness(50%) blur(5px);
}

footer.footer div.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

footer.footer #copyright {
  color: rgba(255, 255, 255, 0.5);
}

footer.footer #credit {
  margin: 0 50px;
}

footer.footer hr {
  width: 500px;
  margin-bottom: 40px;
}

@media (max-width: 1000px) {
  header.header div.menu {
    width: 0 !important;
    overflow: hidden;
    visibility: hidden;
    padding: 0;
  }

  header.header {
    justify-content: center;
  }
}

@media (max-width: 815px) {
  footer.footer div.flex {
    flex-direction: column;
  }
}

@media (max-width: 460px) {
  header.header span.title {
    font-size: 1.15em;
  }

  div.content-wrapper p {
    font-size: 1.3rem;
  }

  div.content-wrapper div.card {
    min-width: 15rem !important;
    min-height: 20rem !important;
  }

  div.content-wrapper div.card p.card-description {
    font-size: 13px;
    margin-bottom: 0;
  }

  div.content-wrapper div.card h1.card-title {
    font-size: 16px;
  }

  div.content-wrapper div.card div.link-row a.button{
    padding: 5px 8px;
    font-size: 12px;
    margin-bottom: 1em;
  }
}
