html{
    background: rgb(35,81,130);
    background-image: linear-gradient(580deg, rgba(34,66,127, 0.72) 0%, rgba(34,66,127, 0.72) 33.333%,rgba(23,41,98, 0.38) 33.333%, rgba(23,41,98, 0.38) 66.666%,rgba(0,23,70, 0.71) 66.666%, rgba(0,23,70, 0.71) 99.999%),linear-gradient(316deg, rgba(45,73,158, 0.25) 0%, rgba(45,73,158, 0.25) 33.333%,rgba(2,25,76, 0.38) 33.333%, rgba(2,25,76, 0.38) 66.666%,rgba(30,61,127, 0.53) 66.666%, rgba(30,61,127, 0.53) 99.999%),linear-gradient(475deg, rgba(10,0,66, 0.36) 0%, rgba(10,0,66, 0.36) 33.333%,rgba(222,222,222, 0.06) 33.333%, rgba(222,222,222, 0.06) 66.666%,rgba(14,108,214, 0.18) 66.666%, rgba(14,108,214, 0.18) 99.999%),linear-gradient(340deg, rgb(28, 20, 63),rgb(34,78,127));
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}
body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: whitesmoke;
}
.gradient-btn{
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source:linear-gradient(rgb(0,0,0) 0%, rgb(255,255,255) 100%);
    color:whitesmoke;
    background-color: transparent;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
}
.gradient-btn:hover{
    background-color: rgba(255, 255, 255, 0.096);
}
.btn{
    display: inline-block;
    margin-bottom: 5px;
    color: rgba(255,255,255,0.7);
    background-color: rgba(255, 255, 255, 0.075);
    border: 1px solid rgba(255, 255, 255, 0.185);
    border-radius: 5px;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    cursor: pointer;
}
.btn:hover{
    color:rgba(255,255,255,0.8);
    text-decoration:none;
    background-color:rgba(255,255,255,0.2);
    border-color:rgba(0, 140, 255, 0.37)
}
.header{
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgba(0, 30, 128, 0.897);
    font-size: 30px;
    border-bottom: 2px solid rgb(255, 255, 255);
}
.smalltext{
    margin:5px 0 0 0;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 13px;
}
.btn-back{
    position: absolute;
    top: 25px;
    left: 25px;
    padding: 10px 10px 10px 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    border-image-source: linear-gradient(200deg, rgb(0, 56, 161) 0%, rgb(0, 71, 165) 100%);
    width: 100px;
    height: 40px;
}
.wrapper{
    margin:auto;
    margin-top: 5%;
    width: 90%;
}
.title{
    margin-top: 4%;
    margin-left: 12%;
    padding-left: 5px;
    border-left: 2px solid white;
}
.desc
{
    margin-left: 12%;
    margin-right: 15%;
    font-size: 18px;
}
.btn-github{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    padding: 5px 5px 5px 5px;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    width: 70px;
    height: 35px;
}
.btn-snowflakebot{
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px 5px 5px 5px;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    width: 70px;
    height: 35px;
}
.btn-mcbr{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    padding: 5px 5px 5px 5px;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    width: 80px;
    height: 35px;
}
.btn-karesz{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    padding: 5px 5px 5px 5px;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    width: 60px;
    height: 35px;
}
.thumbnail{
    float: left;
    margin-right: 20px;
}
a{
    color:whitesmoke;
}