@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap");

html {
  height: 100%;
  margin: 0;
  background: rgb(50, 50, 50);
}
body {
  color: rgb(214, 214, 214);
  font-family: "Titillium Web", sans-serif;
}