@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap");

html {
  height: 100%;
  margin: 0;
  background: rgb(50, 50, 50);
}
body {
  color: rgb(214, 214, 214);
  font-family: "Titillium Web", sans-serif;
}
#teleshop {
  text-align: center;
  font-size: 25px;
  width: 800px;
  margin: auto;
  margin-top: 200px;
  padding: 20px 10px;
  border: 2px solid;
  border-image-source: linear-gradient(
    305deg,
    hsl(151, 59%, 76%),
    hsl(202.429, 59%, 76%),
    hsl(253.857, 59%, 76%),
    hsl(305.286, 59%, 76%),
    hsl(356.714, 59%, 76%),
    hsl(48.143, 59%, 76%),
    hsl(99.571, 59%, 76%)
  );
  border-image-slice: 1;
}

hr {
  width: 600px;
  margin-top: 30px;
  height: 1px;
  background-image: linear-gradient(
    45deg,
    hsl(165, 64%, 69%),
    hsl(255, 64%, 69%),
    hsl(345, 64%, 69%),
    hsl(75, 64%, 69%)
  );
  border: 0;
}

.flexbox {
  width: 700px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flexbox button {
  display: inline-block;
  height: 35px;
  width: 90px;
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  padding: 5px;
  color: rgba(255, 255, 255, 0.801);
  background-color: rgba(255, 255, 255, 0.075);
  border: 1px solid rgba(255, 255, 255, 0.185);
  border-radius: 5px;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  cursor: pointer;
}

.flexbox button:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
}

footer {
  color: rgba(214, 214, 214, 0.315);
  font-size: 12px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}
footer a {
  color: rgba(214, 214, 214, 0.315);
}
